

/* .item {
    display: flex;
    justify-content: center;
    grid-column: 1/13;
    grid-row: 2 /6;
}  */

.item-2 {
    border-radius: 20px; 
    /* background-color: rgb(241, 239, 137); */
    grid-column: 1/5;
    grid-row: 2 /6;
}

.item-3 {
     /* background-color: rgb(11, 94, 49); */
     border-radius: 20px; 
     grid-column: 5/9;
     grid-row: 2 /6;
}
.item-4 {
    /* background-color: rgb(215, 68, 23);  */
    border-radius: 20px;
    grid-column: 9/13;
    grid-row: 2 /6;
}
