 /* background-color: transparent; */

  /* align-items: baseline; */ 


  /* .picture_frame {
    background-color:darkred;
    background-image: url(../images/JM_SIDEWALK2.jpeg);  
    background-size: 91%;  
    background-repeat: no-repeat;  

    object-fit: cover;
    width: 900px;
    height: 200px;  */
    /* opacity: 0.3; */
    /* border-radius: 5%; */
    /* border-top: 3px rgb(7, 75, 7) solid;
    border-bottom: 5px gold solid;  */
    /* width: 100%;  */
    /* grid-column: 1/10;
    grid-row: 2/4;
} */

/* 
<img class = "standardImg" src = "your/preferred/image" alt ="responsive image"> */



/* <div  class ="item item-2" >
<img  class ="photo1"  src = "./images/altonellis.jpg" alt ="Alton Ellis"> 
 <a href="./blogpost.html"> <blockquote class= "blockquote"> Who was Alton Ellis ? </blockquote> </a>
     <figcaption>  Alton Ellis photo credit: David Corio</figcaption> </div> */
